@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  background: #000;
}

input::placeholder {
  color: #64748b;
}

pre {
  white-space: pre;
  tab-size: 4;
}